/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'BLAST_UPDATEBLASTDB' {
        ext.args = "--decompress"
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = [
          "-dbtype nucl",
          "-taxid_map ${params.blastdb_buildmap}",
          "-parse_seqids"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BLAST_BLASTN' {
    ext.args = [
          "-evalue ${params.blast_evalue}",
          "-perc_identity ${params.blast_identity}",
          "-max_target_seqs ${params.blast_hits}",
          "-qcov_hsp_perc ${params.blast_coverage}",
          "-outfmt '6 sseqid staxids'"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BLAST_TBLASTN' {
    ext.args = [
          "-evalue ${params.blast_evalue}",
          "-max_target_seqs ${params.blast_hits}",
          "-qcov_hsp_perc ${params.blast_coverage}",
          "-outfmt '6 sseqid staxids'"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/blast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQKIT_RMDUP' {
        ext.prefix = { "${meta.id}_uniq" }
        publishDir = [
            path: { "${params.outdir}/seqkit" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TD2_LONGORFS' {
        publishDir = [
            path   : { "${params.outdir}/td2" },
            mode   : params.publish_dir_mode,
            saveAs : saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAFFT_ALIGN' {
        ext.args = "--quiet"
        publishDir = [
            path: { "${params.outdir}/mafft" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'IQTREE' {
        label = "process_high"
        publishDir = [
            path: { "${params.outdir}/iqtree" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTTREE' {
        ext.args = "-quote"
        publishDir = [
            path: { "${params.outdir}/fasttree" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
